*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:"Inter";
}



.common-button{
    border: 1px solid #1D4ED8;
    padding: 10px 30px;
    font-weight: bold;
    background-color: #1D4ED8;
    color: #fff;
    border-radius: 8px;
    cursor: pointer;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:14px 8%;
    height: 12vh;
}

nav ul{
    display: flex;
    gap:15px;
    
}
nav ul li {
    list-style: none;
}
nav ul li a {
    text-decoration: none;
    color: #575757;
    font-family:Arial, Helvetica, sans-serif;
    font-weight:500;
}

header{
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),url('./assets/banner.jpg');
    height: 88vh;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin-top: 20px; */
    
}

header main{
    /* margin-top:20%; */
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header main h1{
    font-size: 80px;
}
header main p{
    margin-top: 20px;
    /* font-weight: 400; */
    font-size: 20px;
    text-align: center;
    color: #c2c2c2;
}

header main div{
    margin-top:30%;
}
header main div button{
   color: #1D4ED8;
   border: 1px solid #1D4ED8;
    padding: 18px 70px;
    font-weight: bold;
    background-color: #1D4ED8;
    color: #fff;
    border-radius: 8px;
    cursor: pointer;
    font-size: 24px;
}
section{
    padding: 40px 8%;
}
.meet-speaker{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 56px;
    margin-bottom: 30px;
}

.speaker-inner-conatiner{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 25px;
   
}
.speaker-all-infos {
    border: 1px solid  #E5E7EB;
    /* background-color: #f2f2f2; */
    box-shadow: 1px 1px 5px rgba(255, 255, 255, 0.4);
    border-radius: 6px;
}
.spekaer-img{
    width: 100%;
    object-fit: cover; 
    /* object-position: center;*/
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    
}
.speaker-infos{
    padding: 10px 15px;
}
.speaker-title{
    color: #2563EB;
    font-size:12px;
    margin-bottom:5px;
    font-weight: 600;
}
.speaker-name{
    font-size: 20px;
    color: #0D1B2A;
}
.speaker-role{
    color: #575757;
    margin-top:7px;
    font-size: 14px;

}
.packages-section{
    padding: 40px 13%;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap:10px;
    
}
.package-card{
    max-width:370px;
    border:1px solid #f3f3f3;
    padding-top:20px;
    padding-left:30px;
    padding-right:30px;
    padding-bottom:10px;
    border-radius: 5px;
    box-shadow: 1px 1px 10px rgba(245, 245, 245, 0.3);
}
.special-card{
    border:1px solid #0D1B2A;
    
    box-shadow: 1px 1px 10px rgba(245, 245, 245, 0.6);
    color: #fff;
    background-color: #0D1B2A;
}
.special-card .package-quality{
    color: #93C5FD;
}
.special-card .package-user{
    color: #979696;
}

.package-quality{
    font-size: 13px;
    color: #888888;
    margin-bottom: 8px;
    font-weight: 600;
}
.package-price{
    font-size: 44px;
    color:#0D1B2A;

}
.package-user{
    font-size: 13px;
    color: #888888;
    margin-bottom: 20px;
}
.package-card hr{
    color: #E5E7EB;
    margin-bottom: 20px;
    
}

.package-offer {
    padding: 0px 10px 5px 15px;
    
}
.package-offer li {
    color: #333333;
    margin-bottom: 8px;
    font-size: 14px;
    line-height: 25px;
    
}
.package-offer li::marker {
    color: #1D4ED8;
    
}
.packages-title{
    text-align: center;
    font-size: 48px;
    margin-bottom: 10px;
    color: #0D1B2A;
}
.packages-subtitle{
    text-align: center;
    font-size: 16px;
    margin-bottom: 30px;
    color: #575757;
}
.special-card hr{
    border: 1px solid rgb(255, 255, 255);
    opacity: 10%;
}
.special-card .package-price{
    color: #fff;
}
.special-card .package-offer li{
    color:#FFFFFF ;
    opacity: 80%;
}
.unique-section{
    margin-top: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap:50px
    
}
.testimonials{
    margin:auto;
    display:grid;
    grid-template-columns:1fr 1fr 1fr;
    grid-template-rows:150px 150px;
    gap:10px;
}
.office-image{
    grid-column:1/3;
    grid-row:1/3;
    border-radius:18px;
    overflow:hidden;
}
.office-image img{
    width:100%;
    height:100%;
    object-fit:cover;
}
.card{
    background:white;
    border-radius:18px;
    padding:20px;
    border:1px solid #e6e6e6;
    box-shadow:0 5px 20px rgba(0,0,0,.05);
    display:flex;
    flex-direction:column;
    justify-content:flex-start;
}

.profile{
    display:flex;
    align-items:center;
    gap:14px;
    margin-bottom:18px;
}

.profile img{
    width:52px;
    height:52px;
    border-radius:50%;
    object-fit:cover;
}

.profile h3{
    font-size:18px;
    color:#222;
    margin-bottom:4px;
}

.profile span{
    color:#6d7b93;
    font-size:14px;
}

.card p{
    color:#555;
    line-height:1.7;
    font-size:15px;
}
.booking{
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
}
.booking h2{
    text-align: center;
    font-size: 50px;
}
span{
    color:#2563EB
}
.booking p{
    text-align: center;
    font-size: 20px;
    color: #535353;
    margin-bottom: 20px;
}
.booking form{
    display: grid;
 
   
}

form label{
    width: 100%;
    font-size: 25px;
    margin-bottom: 15px;
}
form input{
    margin-bottom: 25px;
    border: none;
    background-color: #e4e4e4;
    padding: 15px 10px;
    color: black;
    box-shadow:  1px 1px 10px rgba(46, 65, 240, 0.8);
    border-radius: 8px;
    outline: none;
}
form div{
    display:flex;
    justify-content: space-between;
}
.unique-title{
    font-size: 50px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 10px;
}
.footer{
    background-color: #0D1B2A;
}

.top{
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}
.left{
    align-items: center;
    display: grid;
    grid-template-columns: 0.7fr 1fr;
    color: white;
}

.right{
    color: #fff;
}

.right div {
    margin-top:10px;
    display: flex;
    align-items: center;
    gap:10px
}
.right div a {
    
    text-decoration: none;
    color: #fff ;
}
.right div img{
    width:25px;
}
.bottom{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 15px;
}

.bottom p{
    text-align: center;
    color: #bbbaba;
    /* margin-top: 10px; */
}
.bottom div span{
    margin-right: 10px;
    color: #888888;
}
.pro-btn{
    padding: 15px 0px;
    margin-top:20px;
    width: 100%;
    margin-bottom: 20px;
    font-size: 14px;
    font-weight: 600;
}
.standard-btn{
    width: 100%;
    border: 1px solid #1D4ED8;
    padding: 15px 30px;
    font-weight: bold;
    color: #1D4ED8;
    border-radius: 8px;
    cursor: pointer;
    background-color: white;
    margin-top:20px;
    margin-bottom: 20px;
    font-size: 14px;
    font-weight: 600;

}
.team-btn{
    width: 100%;
    border: 1px solid #0D1B2A;
    padding: 15px 30px;
    font-weight: bold;
    color: #0D1B2A;
    border-radius: 8px;
    cursor: pointer;
    background-color: #ffffff;
    margin-top:20px;
    margin-bottom: 20px;
    font-size: 14px;
    font-weight: 600;
}
.team-card{
    background-color: #F8F9FB;
}
.team-card .package-price{
    color:#0D1B2A
}